{% extends "Padre.html" %}

{% block cabecera %}
<h1 class="text-center text-primary my-4">Menú Principal</h1>
<p class="text-center text-secondary">Aquí puedes acceder a todos los enlaces disponibles en el proyecto.</p>
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-8 offset-md-2">

    <!-- Sección de Búsquedas -->
    <h2 class="text-center text-info mt-4 mb-3">Búsquedas</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'listar_tutoriales_api' %}" class="text-decoration-none">Lista tutoriales api(Token de Profesor)</a></li>
      <li class="list-group-item"><a href="{% url 'listar_tutoriales_apiEstudiante' %}" class="text-decoration-none">Lista tutoriales api(Token de estudiante)</a></li>
      <li class="list-group-item"><a href="{% url 'listar_tutoriales_apiAdmin' %}" class="text-decoration-none">Lista tutoriales api(Token de Admin)</a></li>
      <li class="list-group-item"><a href="{% url 'lista_cursos_api' %}" class="text-decoration-none">Lista Cursos api</a></li>
      <li class="list-group-item"><a href="{% url 'listar_usuarios_api' %}" class="text-decoration-none">Lista usuarios api</a></li>
      <li class="list-group-item"><a href="{% url 'listar_categoria_api' %}" class="text-decoration-none">Lista categorias api</a></li>
      <li class="list-group-item"><a href="{% url 'lista_etiquetas_api' %}" class="text-decoration-none">Lista etiquetas api</a></li>
    </ul>

    <!-- Separador -->
    <hr class="my-4">

    <!-- Sección de Formularios -->
    <h2 class="text-center text-success mt-4 mb-3">Formularios</h2>
    

    <!-- Separador -->
    <hr class="my-4">

    <!-- Sección de Formularios -->
    <h2 class="text-center text-success mt-4 mb-3">Busqueda Avanzadas</h2>
    
</div>
{% endblock %}

