{% extends "Padre.html" %}
{% block contenido %}

<h1 class="display-3">Lista de Usuarios</h1>

    <div class="row">
        {% for usuario in usuarios_mostrar %}
            <div class="col-sm-4 mb-2">

                <p>Nombre: {{ usuario.nombre }}</p>
                <p>Email: {{ usuario.email }}</p>
                <p>Fecha de Registro: {{ usuario.fecha_Registro }}</p>
                <p>Activo?: {{ usuario.es_activo }}</p>
                <p>Puntuacion: {{ usuario.puntuacion }}</p>
            
            </div>
        {% empty %}
            <h1>lo sentimos mucho, no hay tutoriales </h1>
        {% endfor %}
    </div>
{% endblock %}