{% extends "Padre.html" %}

{% block cabecera %}
    <h1 class="text-center text-primary my-4">Actualizacion de un Curso desde Cliente API</h1>
{% endblock %}

{% block contenido %}
<div class="card shadow p-4">
    <h2 class="text-secondary mb-4">Actualizacion de un Curso </h2>

    <form method="POST" action="{% url 'actualizar_nombre_curso_api' curso_id %}" class="mb-4">
        {% csrf_token %}
        
        <!-- Campo de Nombre -->
        <div class="form-group mb-3">
            {{ formulario.nombre.label_tag }}
            {{ formulario.nombre }}
            {% for error in formulario.nombre.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
        </div>
        <!-- Botón de creación -->
        <button type="submit" class="btn btn-primary w-100">Modificar Curso</button>
    </form>
</div>
{% endblock %}