{% extends "Padre.html" %}

{% block contenido %}

<h1 class="display-3">Detalles de la Etiqueta</h1>

<div class="row">
    <div class="col-sm-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ curso.nombre }}</h5>
                <p class="card-text"><strong>Descripcion:</strong> {{ curso.descripcion }}</p>
                <p class="card-text"><strong>Horas :</strong> {{ curso.horas }}</p>
                <p class="card-text"><strong>Precio:</strong> {{ curso.precio }}</p>
                <p class="card-text"><strong>Usuario:</strong>
                    {% for usuario in curso.usuario %}
                        {{ usuario.nombre }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}