{% extends "Padre.html" %}
{% block contenido %}
<h1 class="display-3">Lista de Cursos</h1>
<div class="row">
    {% for curso in cursos_mostrar %}
    <div class="col-sm-4 mb-2">
        <p>Nombre: {{ curso.nombre }}</p>
        <p>Descripcion: {{ curso.descripcion }}</p>
        <p>Horas de duración: {{ curso.horas }}</p>
        <p>Precio: {{ curso.precio }}</p>
        <p>Tutorial: {{ curso.tutorial.titulo }}</p>
    </div>
    {% empty %}
    <h1>Lo sentimos mucho, no hay cursos</h1>
    {% endfor %}
</div>
{% endblock %}